<div class="info">
<div class="main_part">
    <div class="name"><p><%= @name %></p></div>
    <div class="icon"><%= @weather_info['icon']%>

    <% if @weather_info['icon'].downcase == 'clouds'%>
        <div class="icon cloudy">
            <div class="cloud"></div>
            <div class="cloud"></div>
        </div>

    <% elsif @weather_info['icon'].downcase == 'clear' %>
        <div class="icon sunny">
            <div class="sun">
                <div class="rays"></div>
            </div>
        </div>

    <% elsif @weather_info['icon'].downcase == 'haze' %>
        <div class="icon rainy">
            <div class="cloud"></div>
            <div class="rain"></div>
        </div>
    <% end %>
    </div>

    <div class="temp"><p><%= @temp.to_i %>&deg;C</p></div>

<div class="extra_info">
    <div class="humidity">
        <p> Humidity</br> <%= @humidity %>%</p>
    </div>

    <div class="temp_min">
        <p>Temp Min</br> <%= @temp_min %>&deg;C</p>
    </div>

    <div class="temp_max">
        <p>Temp Max</br> <%= @temp_max %>&deg;C</p>
    </div>
</div>
</div>


<div class="new_city">
    <form action="/search" method="get">
        <div>
            <button>Enter New City</button>
        </div>
    </form>
</div>

<div class="logout">
    <form action="/">
        <button>Logout</button>
    </form>
</div>
</div>

